#content

  %a{href:"http://www.twitter.com/codegoblin"}
    %img{style: "display:inline-block", src:"http://twitter-badges.s3.amazonaws.com/t_mini-a.png", alt:"Follow codegoblin on Twitter"}>
  %h2{style: "display:inline-block"} Twitter Feed (@codegoblin):

  %ul
    - @twitter_entries.each do |entry|
      %li
        %h3= render_entry_date(entry.created_at) 
        %p= entry.text
  %h2 Github Feed (https://github.com/codegoblin):
  %ul
    - @github_entries.each do |entry|
      %li
        %h3= render_entry_date(entry.updated)
        %p= entry.title
        %p
          != entry.content
