#content
  %h2 Twitter Feed (@codegoblin):
  %ul
    - @twitter_entries.each do |entry|
      %li
        %h3= render_entry_date(entry.created_at) 
        %p= entry.text
  %h2 Github Feed (https://github.com/codegoblin):
  %ul
    - @github_entries.each do |entry|
      %li
        %h3= render_entry_date(entry.updated)
        %p= entry.title
        %p
          != entry.content
