!!!
%html
  %head
    %title codegobl.in
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #page_container
      #header
        #logo_area
          %pre(class = "ascii_title")
            = preserve render_ascii_logo_c
          = image_tag("codegoblin.png", id: "logo")
          %pre(class = "ascii_title")
            = preserve render_ascii_logo_rest

      %hr

      - unless flash.empty?
        #flash
          %p.notice= notice
          %p.alert= alert
        %hr

      = yield

      #footer
