!!!
%html
  %head
    %title CodeGoblin
    = stylesheet_link_tag    "application", "stylemaster"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #page_container
      #header
        #logo_area
          = image_tag("codegoblin.png", :id => "logo")

          %pre(id = "ascii_title")
            = preserve render_logo

        %ul(id = "main_nav")
          %li
            %a(href = "") blog
          %li
            %a(href = "") projects
          %li
            %a(href = "") resume

        #about_me
          %h2 Who am I?
          %p
            My name is Cody Johnston. I've been proramming Ruby (most often in conjunction with Rails)
            professionally for 2 years. Besides coding Rails applications as a dayjob, I am also working on an epic
            computer game written almost exclusively in Ruby.
          %p
            %span(class = "bold") email:
            cody@codegobl.in
          %p
            %span(class = "bold") github:
            codegoblin
          %p
            %span(class = "bold") twitter:
            codegoblin
      #goblin_radio Goblin Radio - Click To Play

      %p.notice= notice
      %p.alert= alert

      = yield

      #footer
